
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

/*Selector Universal o reset*/
*{
  margin: 0;
  padding: 0;
}

/*Selector de etiqueta*/
h3 {
  color: blueviolet;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p{
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

h1{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

/*herencia*/
/* nav h1{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
} */

/*Selectores de Clase*/
.links{
color: brown;
font-family: 'Roboto', sans-serif;
font-size: 18px;
}

/*Selector ID*/
#principal{
  background-color: blueviolet;
}

#barra_lateral{
  background-color: aqua;
}

/*Boxmodeling*/
.encabezado{
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  border: 5px solid #371972d0;
  background-color: #12d372b2;
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
}

.encabezado__titulo{
  border: 5px dotted #000;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}

.encabezado__texto{
  border: 5px double #b8511dd0;
  width: 50%;
  margin: 20px 20px 20px 20px;
}

/* .caja{
  border: 1px solid #000;
  background-color: #371972d0;
  color:#fff;
  width: 250px;
  height: 250px;
  margin: 20px 20px 20px 20px;
  padding: 50px 50px 50px 50px;
} */

/*display*/

.elemento-bloque{
  display: none;
  border: 2px solid #000;
  margin: 30px 30px 30px 30px;
  padding: 20px 20px 20px 20px;
}

.elemento-linea1,
.elemento-linea2,
.elemento-linea3 {
  display: inline-block;
  border: 2px solid #000;
  /*de liínea no puedo definirle el ancho y alto*/
  width: 250px;
  height: 250px;
  /*Ni tampoco, margin y padding arriba y abajo*/
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 40px;
  background-color: #371972d0;
}

/* .discografia{
  width: 80%;
  border: 8px solid #371972d0;
}

.imagen-discografia{
  width: 50%;
} */

/*Flexbox*/
.aprendiendo{
  text-align: center;
}

/*Contenedor padre*/
.flex-container{
  /*Activamos Flexbox*/
  display: flex;
  /*Definimos cual va a ser nuestro main axis, o si fila o columna*/
  flex-direction: row;
  /*dispone los elementos flexibles en el eje principal*/
  justify-content: flex-start; 
  /*dispone los elementos flexibles en el eje secundario*/
  /* align-items: flex-end; */
  /*Defino el desborde de los flex items*/
  flex-wrap: wrap;
  /*Espacio entre líneas - necesito tener wrap*/
  align-content: space-between;

  border: 1px solid #000;
  background-color: #ccc;
  padding: 20px;
  margin: 10px;
  height: 800px;

}

.caja{

  /*Box-modeling*/
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 5px;

  /*tipografia*/
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
}

.c1{
  background-color: #12d372b2;
  /*Defino el orden de aparicion*/
  order: 2;
  /*Derecho a crecer*/
  flex-grow: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c2{
  background-color: #371972d0;
  order: 3;
  flex-grow: 1;
}

.c3{
  background-color: #b8511dd0;
  order: 1;
  flex-grow: 1;
}

/*navbar con flexbox*/

.charly-icon{
  width: 50px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
