
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

/*Selector Universal o reset*/
*{
  margin: 0;
  padding: 0;
}

/*Selector de etiqueta*/
/* h3 {
  color: blueviolet;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
} */

p{
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

h1{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

/*herencia*/
/* nav h1{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
} */

/*Selectores de Clase*/
.links{
color: brown;
font-family: 'Roboto', sans-serif;
font-size: 18px;
}

/*Selector ID*/
#principal{
  background-color: blueviolet;
}

#barra_lateral{
  background-color: aqua;
}

/*Boxmodeling*/
.encabezado{
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  border: 5px solid #371972d0;
  background-color: #12d372b2;
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
}

.encabezado__titulo{
  border: 5px dotted #000;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}

.encabezado__texto{
  border: 5px double #b8511dd0;
  width: 50%;
  margin: 20px 20px 20px 20px;
}

/* .caja{
  border: 1px solid #000;
  background-color: #371972d0;
  color:#fff;
  width: 250px;
  height: 250px;
  margin: 20px 20px 20px 20px;
  padding: 50px 50px 50px 50px;
} */

/*display*/

.elemento-bloque{
  display: none;
  border: 2px solid #000;
  margin: 30px 30px 30px 30px;
  padding: 20px 20px 20px 20px;
}

.elemento-linea1,
.elemento-linea2,
.elemento-linea3 {
  display: inline-block;
  border: 2px solid #000;
  /*de liínea no puedo definirle el ancho y alto*/
  width: 250px;
  height: 250px;
  /*Ni tampoco, margin y padding arriba y abajo*/
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 40px;
  background-color: #371972d0;
}

/* .discografia{
  width: 80%;
  border: 8px solid #371972d0;
}

.imagen-discografia{
  width: 50%;
} */

/*Flexbox*/
.aprendiendo{
  text-align: center;
}

/*Contenedor padre*/
.flex-container{
  /*Activamos Flexbox*/
  display: flex;
  /*Definimos cual va a ser nuestro main axis, o si fila o columna*/
  flex-direction: row;
  /*dispone los elementos flexibles en el eje principal*/
  justify-content: flex-start; 
  /*dispone los elementos flexibles en el eje secundario*/
  /* align-items: flex-end; */
  /*Defino el desborde de los flex items*/
  flex-wrap: wrap;
  /*Espacio entre líneas - necesito tener wrap*/
  align-content: space-between;

  border: 1px solid #000;
  background-color: #ccc;
  padding: 20px;
  margin: 10px;
  height: 800px;

}

.caja{

  /*Box-modeling*/
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 5px;

  /*tipografia*/
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
}

.c1{
  background-color: #12d372b2;
  /*Defino el orden de aparicion*/
  order: 2;
  /*Derecho a crecer*/
  flex-grow: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c2{
  background-color: #371972d0;
  order: 3;
  flex-grow: 1;
}

.c3{
  background-color: #b8511dd0;
  order: 1;
  flex-grow: 1;
}

/*navbar con flexbox*/

.charly-icon{
  width: 50px;
  border-radius: 50%;
}

nav{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a{
  text-decoration: none;
  color: #fff;
}

/*CSS GRID*/
/*CSS GRID TEORIA*/
.header p{
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
}

.grid-container{
  width: 90%;
  max-width: 1000px;
  border: 10px solid #fff;
  margin: auto;
  font-size: 50px;
  line-height: 50px;
  text-align: center;

  /*aplicamos grid*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.grid-container > div {
  display: block;
  padding: 20px;
  color: #fff;
  background: #F08080;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}

.img-grid{
  width: 300px;
}

.escuchar{
  background: #000;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}


/*CSS GRID PRACTICA*/
body{
  background: #1d202b;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;

}

#main-concert{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;

  /*Felxbox*/
  /* display: flex;
  gap: 20px; */

  /*Grid*/
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

/* .titulo {
	font-size: 24px;
	padding: 20px 0;
} */

.contenedor-conciertos {
  /*grid*/
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  
  /*Flexbox*/
	/* width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; */
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;

  /*con Flexbox tengo que hacer estas cosas*/
  /* width: calc(28% - 12px) ; */
}

.card .textos {
	/*debo definirle un alto*/
  height: 100%;	
  
  /*Flebox a los textos*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*Grid*/
  /* display: grid;
  grid-template-rows: 1fr auto; */

}

.banner {
  background-image: url('../assets/img/conciertos/banner/banner-foto-02.jpg');
	background-size: cover;
	background-position: center center;
	border-radius: 10px;
	text-align: center;
	padding: 20px;

  /*Flexbox*/
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*grid*/
  /* display: grid;
  grid-template-rows: auto auto auto;
  align-items: center; */
}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

/*fotos recitales*/
.luna{
  background-image: url('../assets/img/conciertos/luna.webp');
  background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
}

.konex{
  background-image: url('../assets/img/conciertos/Konex.jpg');
  background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
}

.mardel{
  background-image: url('../assets/img/conciertos/mardelplata.jpg');
  background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
}

.niceto{
  background-image: url('../assets/img/conciertos/niceto.jpg');
  background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
}

.cck{
  background-image: url('../assets/img/conciertos/CCK.jpg');
  background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
}

.movistar{
  background-image: url('../assets/img/conciertos/movistarArena.jpg');
  background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
}

