.container {
    position: relative;
  }
  
  .box {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  
  .box1 {
    background-color: red;
    z-index: 1;
  }

  .box2 {
    background-color: blue;
    z-index: 2;
  }

  .img-clicks{
    width: 30%;
    /*Tranformaciones*/
    /*Translate*/
    /* transform: translateX(200px);
    transform: translateY(200px); */
    /*rotate*/
    /* transform: rotate(20deg); */
    /*scale*/
    /* transform:scaleX(2);
    transform: scaleY(3); */
    /*skew*/
    /* transform: skewX(20deg); */
  }

.boton {
    background: #FFD600;
    display: block;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    /* transition: all 5s; */
    /*animaciones*/
    animation-name: foto-charly;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-delay: 5s;
    animation-timing-function: linear;
  }

  @keyframes foto-charly {
    0%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0);
    }
  }

/* .boton:hover{
    width: 150px;
    font-size: 18px;
} */