/*fuentes*/
$fuente-principal: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
$fuente-secundaria:'montserrat-medium', sans-serif;
$font-principal-size: 1.2rem;
$text-transform: uppercase;